@page "/add/7"
@inject NavigationManager NavigationManager
@using DataServices.Data
@inject IHallwayRowBin IHallwayRowBin

<h3>Add Hallway Row Bin</h3>

@code {
    private HallwayRowBinInfo hallwayRowBin = new HallwayRowBinInfo();

    private async Task SaveHallwayRowBin()
    {
        await IHallwayRowBin.AddHallwayRowBinAsync(hallwayRowBin);
        NavigationManager.NavigateTo("/add"); 
    }
}

<div class="form-group">
    <label for="warehouseId">Warehouse ID:</label>
    <input id="warehouseId" class="form-control" @bind="hallwayRowBin.WarehouseId">
</div>

<div class="form-group">
    <label for="hallwayId">Hallway ID:</label>
    <input id="hallwayId" class="form-control" @bind="hallwayRowBin.HallwayId">
</div>

<div class="form-group">
    <label for="rowId">Row ID:</label>
    <input id="rowId" class="form-control" @bind="hallwayRowBin.RowNo">
</div>

<div class="form-group">
    <label for="binId">Bin ID:</label>
    <input id="binId" class="form-control" @bind="hallwayRowBin.BinId">
</div>

<button class="btn btn-primary" @onclick="SaveHallwayRowBin">Save</button>

